main {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.recon-btn {
	max-width: 120px;
	margin: 1% auto;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0.15rem;
}
