.Cart{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.Cart button{
    margin-top:35px;
    border:none;
    border-radius:5px;
    padding:10px;
    text-align:center;
    cursor:pointer;
}

.Cart button:focus{
    outline: none;
}
.Cart button:hover{
    background-color:goldenrod;
}

.Cart img{
    height:100px;
    margin: 20px;
}
.wrapCheckout{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btnCheckout{
    width:9%
}