.Cart {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  min-height: calc(100vh - 78px);
}

.Cart__content {
  flex-grow: 1;
  overflow: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}

.Cart__content__empty {
  text-align: center;
  margin-top: 40px;
}

.Cart footer {
  text-align: center;
  background-color: rgb(225, 225, 225);
  padding: 10px 25px;
}

.Cart__checkout {
  margin-left: 20px;
}
