.footer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(47,42,171);
    background: radial-gradient(circle, rgba(47,42,171,1) 0%, rgba(13,13,87,1) 64%);
}
.footer img{
    height: 50%;
}