.Header {
	min-height: 3rem;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	background-color: black;
	color: white;
	span {
		font-weight: bold;
	}
	img {
		height: 3rem;
	}
}
