.Header {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(78, 200, 209);
  background: linear-gradient(
    180deg,
    rgba(78, 200, 209, 1) 2%,
    rgba(81, 157, 163, 1) 86%
  );
  box-sizing: border-box;
}
.Header__logo {
  height: 60%;
  width:20%
}

.Header button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 10px;
  padding-right: 50px;
  font-size: 30px;
}
.Header button:focus{
  outline:none;
}
.Header button:hover {
  color: rgb(255, 157, 0);
  transition: color 0.3s;
  transform: scale(1.1);
}
.Header button:visited{
  background-color: transparent;
  color: rgb(255, 157, 0);
}
#numItemsCart{
    font-size: 80%;
    color:red
}

#totalPrice{
    color: rgb(255, 157, 0);
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 20px;
}