.is-blur {
    filter: blur(0.19rem); 
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
  }

  /**LOADER***/
.loader-01 {
    position: fixed;
    top: 30%;
    left: 45%;
    z-index: 100;
    border: 0.4em dotted rgb(221, 141, 14);
    border-radius: 50%;
    animation: 1s loader-01 linear infinite;
    width: 40px;
    height: 40px;
  }

  @keyframes loader-01 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }