.ModalSidebar {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.ModalSidebar.is-open {
  opacity: 1;
  pointer-events: auto;
}

.ModalSidebar__overlay {
  background-color: rgba(222, 222, 222, 0.85);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.ModalSidebar.is-open .ModalSidebar__overlay {
  opacity: 1;
}

.ModalSidebar header {
  display: flex;
  align-items: center;
}

.ModalSidebar__title {
  flex-grow: 1;
  text-align: center;
  margin: 10px 0;
}

.ModalSidebar__body {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 36px rgba(0, 0, 0, 0.25);
  transform: translateX(100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.333s ease-out;
}
.ModalSidebar.is-open .ModalSidebar__body {
  opacity: 1;
  transform: translateX(0);
}

.ModalSidebar__content {
  flex-grow: 1;
}

@media (min-width: 700px) {
  .ModalSidebar__body {
    width: 500px;
  }
}
