
.ModalProduct .body {
  max-width: 520px;
  max-height: 90vh;
  box-sizing: border-box;
  overflow: auto;
  width: calc(100% - 20px - 20px);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 36px rgba(0,0,0,0.25);
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.333s ease-out;
}

.ModalProduct.isOpen .body {
  opacity: 1;
  transform: translateY(0);
}

.ModalProduct img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  object-position: center;
}

.ModalProduct .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 24px;
}

.ModalProduct .price {
  font-size: 24px;
  text-align: right;
  font-weight: bold;
}

.ModalProduct .price small {
  font-size: 18px;
  font-weight: normal;
}