
.Products{
    display: flex;
    flex-direction: column;
    margin:30px 0;
}

.wrapProducts{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
    margin-bottom: 30px;
    padding: 30px 0px;
}

.wrapProducts button{
    background: #f0c14b;
    color: #111;
    text-decoration: goldenrod;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

.wrapProducts button:hover{
  background-color: #f6a000;
  transition: background-color 0.3s;
  }

.wrapProducts button:focus{
    outline: none;
}

 /* @media (min-width: 768px) {
  
  .wrapProducts{
      margin:30px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
       margin: 20px; 
      justify-content: center;
      width: 100%;
      box-sizing: border-box;
      position:relative;
  }
  
}

@media (min-width: 1024px) {
  

}  */