.App {
  padding-top: 78px;
  box-sizing: border-box;
}

.App * {
  box-sizing: inherit;
}

.App main {
  padding-top: 50px;
}

.App .Loader {
  margin: auto;
  display: block;
}

button {
  cursor: pointer;
}
