.App{
    display:flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 19%, rgba(245,245,245,1) 70%);
}

